{{#if force.isEditable}}
	<form {{action "saveForce" force on="submit"}} class="force-edit">
	    <label>
	      Nombre
	      {{input type="text" value=force.name}}
	    </label>
	    <label>
	      Bancas
	      {{input type="number" value=force.places}}
	    </label>
	    <label>
	      Color
	      {{spectrum-color-picker color=force.color preferredFormat="hex"}}
	    </label>

		<div class="action">
	    	<input type="submit" value="Guardar">
	   		<a {{action 'cancel' force}}>Cancelar</a>
		</div>
		<hr style="border-color: {{force.color}};">
	  
	</form>		
{{else}}
	<div class="force-item">
		<b>{{force.places}}</b>
		<i>{{force.name}}</i>
		<div class="action">
			<a {{action 'turnEditForce' force}}>Editar</a>
			<a {{action 'removeForce' force}}>Borrar</a>
		</div>
		<hr style="border-color: {{force.color}}; border-width: 2px;">
	</div>
{{/if}}